* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Inconsolata;
  src: url(./assets/fonts/static/Inconsolata-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Inconsolata;
  src: url(./assets/fonts/static/Inconsolata-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Inconsolata;
  src: url(./assets/fonts/static/Inconsolata-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inconsolata;
  src: url(./assets/fonts/static/Inconsolata-ExtraBold.ttf);
  font-weight: 800;
}
